.venv/
venv/
ENV/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

data/

models/**/*.pth
models/**/*.json
models/**/*.png

.ipynb_checkpoints/
*/.ipynb_checkpoints/*

**/__pycache__/
*.py[cod]
*$py.class

*.log
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo